In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('download.csv')

In [3]:
df = pd.DataFrame(df)

In [4]:
df.head(2)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,10/09/2020,10,9,2020,24,2,Afghanistan,AF,AFG,38041757.0,Asia,1.098793
1,09/09/2020,9,9,2020,26,3,Afghanistan,AF,AFG,38041757.0,Asia,1.180282

In [5]:
filtTURFRA = (df['countryterritoryCode'] == 'TUR') | (df['countryterritoryCode'] == 'FRA')

In [6]:
df[filtTURFRA]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
13809,10/09/2020,10,9,2020,8577,30,France,FR,FRA,67012883.0,Europe,135.069551
13810,09/09/2020,9,9,2020,6544,38,France,FR,FRA,67012883.0,Europe,130.371947
13811,08/09/2020,8,9,2020,4203,25,France,FR,FRA,67012883.0,Europe,125.537055
13812,07/09/2020,7,9,2020,7071,3,France,FR,FRA,67012883.0,Europe,122.182476
13813,06/09/2020,6,9,2020,8550,12,France,FR,FRA,67012883.0,Europe,118.938324
...,...,...,...,...,...,...,...,...,...,...,...,...
38770,18/03/2020,18,3,2020,51,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38771,17/03/2020,17,3,2020,29,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38772,16/03/2020,16,3,2020,16,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38773,13/03/2020,13,3,2020,1,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38774,12/03/2020,12,3,2020,1,0,Turkey,TR,TUR,82003882.0,Asia,NaN

In [7]:
dataTUR = df[df['countryterritoryCode'] == 'TUR']

In [8]:
df.loc[-filtTURFRA, 'cases'] #filterin am tersine işaret eder

0        24
1        26
2        96
3        74
4        20
         ..
41832     0
41833     0
41834     0
41835     1
41836     1
Name: cases, Length: 41401, dtype: int64

In [9]:
dataTUR

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
38594,10/09/2020,10,9,2020,1673,55,Turkey,TR,TUR,82003882.0,Asia,27.359680
38595,09/09/2020,9,9,2020,1761,52,Turkey,TR,TUR,82003882.0,Asia,26.920677
38596,08/09/2020,8,9,2020,1703,57,Turkey,TR,TUR,82003882.0,Asia,26.604838
38597,07/09/2020,7,9,2020,1578,53,Turkey,TR,TUR,82003882.0,Asia,26.287780
38598,06/09/2020,6,9,2020,1673,56,Turkey,TR,TUR,82003882.0,Asia,25.847557
...,...,...,...,...,...,...,...,...,...,...,...,...
38770,18/03/2020,18,3,2020,51,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38771,17/03/2020,17,3,2020,29,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38772,16/03/2020,16,3,2020,16,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38773,13/03/2020,13,3,2020,1,0,Turkey,TR,TUR,82003882.0,Asia,NaN
38774,12/03/2020,12,3,2020,1,0,Turkey,TR,TUR,82003882.0,Asia,NaN

In [10]:
dataFRA = df[df['countryterritoryCode'] == 'FRA']

In [11]:
dataESP = df[df['countryterritoryCode'] == 'ESP']

In [12]:
dataESP.shape

(254, 12)

In [13]:
df.loc[filtTURFRA, ['deaths', 'cases', 'countryterritoryCode']]

       deaths  cases countryterritoryCode
13809      30   8577                  FRA
13810      38   6544                  FRA
13811      25   4203                  FRA
13812       3   7071                  FRA
13813      12   8550                  FRA
...       ...    ...                  ...
38770       0     51                  TUR
38771       0     29                  TUR
38772       0     16                  TUR
38773       0      1                  TUR
38774       0      1                  TUR

[436 rows x 3 columns]

In [14]:
countries = ['TUR', 'FRA', 'ESP']
filt = df['countryterritoryCode'].isin(countries)

In [15]:
dataTrFrEs = df.loc[filt]

In [16]:
filtAs = df['continentExp'].str.contains('Asia', na=False)

In [17]:
df.loc[filtAs]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,10/09/2020,10,9,2020,24,2,Afghanistan,AF,AFG,38041757.0,Asia,1.098793
1,09/09/2020,9,9,2020,26,3,Afghanistan,AF,AFG,38041757.0,Asia,1.180282
2,08/09/2020,8,9,2020,96,3,Afghanistan,AF,AFG,38041757.0,Asia,1.114565
3,07/09/2020,7,9,2020,74,2,Afghanistan,AF,AFG,38041757.0,Asia,1.048847
4,06/09/2020,6,9,2020,20,0,Afghanistan,AF,AFG,38041757.0,Asia,0.854324
...,...,...,...,...,...,...,...,...,...,...,...,...
41482,14/04/2020,14,4,2020,0,0,Yemen,YE,YEM,29161922.0,Asia,NaN
41483,13/04/2020,13,4,2020,0,0,Yemen,YE,YEM,29161922.0,Asia,NaN
41484,12/04/2020,12,4,2020,0,0,Yemen,YE,YEM,29161922.0,Asia,NaN
41485,11/04/2020,11,4,2020,0,0,Yemen,YE,YEM,29161922.0,Asia,NaN
41486,10/04/2020,10,4,2020,1,0,Yemen,YE,YEM,29161922.0,Asia,NaN

In [31]:
dataTrFrEs.set_index('cases').sort_index(ascending=False).head(8)

,dateRep,day,month,year,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
cases,,,,,,,,,,,
26560,07/09/2020,7,9,2020,98,Spain,ES,ESP,46937060.0,Europe,255.902266
23572,31/08/2020,31,8,2020,83,Spain,ES,ESP,46937060.0,Europe,221.096081
19382,24/08/2020,24,8,2020,34,Spain,ES,ESP,46937060.0,Europe,175.673551
16269,17/08/2020,17,8,2020,29,Spain,ES,ESP,46937060.0,Europe,132.151439
10476,04/09/2020,4,9,2020,184,Spain,ES,ESP,46937060.0,Europe,240.609446
9779,28/08/2020,28,8,2020,15,Spain,ES,ESP,46937060.0,Europe,205.536947
9658,27/08/2020,27,8,2020,25,Spain,ES,ESP,46937060.0,Europe,196.375742
9181,27/03/2020,27,3,2020,655,Spain,ES,ESP,46937060.0,Europe,148.460513